services:
  app:
    build:
      context: ..
      dockerfile: Docker/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=secret
      - DB_NAME=feeddex
    depends_on:
      - db
    volumes:
      - static_volume:/app/staticfiles  # Volumen para archivos estáticos

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: feeddex
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
  static_volume:  # Definición del volumen de archivos estáticos
